<MudCard>
    <MudCardContent>
        <div class="d-flex justify-space-between align-center">
            <MudText Typo="Typo.h5" Class="mb-4">
                Skills
            </MudText>

            <MudIconButton Icon="@Icons.Material.Filled.Edit" />
        </div>

    </MudCardContent>
</MudCard>

@code {

}

