<MudImage Src="@Model.Image" ObjectFit="ObjectFit.Cover" Height="200" Width="200" Alt="Product image" Elevation="25"
    Class="rounded-lg" />

<div>
    <MudFileUpload T="IBrowserFile" Accept="*.jpg, *.jpeg, *.png" FilesChanged="Model.UploadProductImage">
        <ActivatorContent>
            <MudButton Variant="Variant.Filled" Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.CloudUpload">
                Upload image
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>

    <MudButton Variant="Variant.Filled" Class="mt-2 ms-2" StartIcon="@Icons.Material.Filled.List"
        Href="@($"/products/{Model.ProductId}/images")"> Images
    </MudButton>
</div>

@code
{
    [Parameter]
    public ImageUpdateViewModel Model { get; set; }
}