.card-group {
    display: flex;
    flex-flow: row wrap;
}

.card 
{
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

.card .card-img-top
{
    border-radius: var(--bs-card-border-radius);
}

.card .card-body
{
    padding-left: 2px;
    padding-right: 2px;
}

.card .card-body .card-text 
{
    font-size: 0.9rem;
}

.card .card-footer
{
    border: 0;
    background-color: transparent;
    padding-left: 2px;
    padding-right: 2px;
}

@media (max-width: 991.98px) {
    h5 {
        font-size: 1rem;
    }
}