@using Microsoft.Maui.Controls

<MudThemeProvider Theme="currentTheme" />
<MudDialogProvider MaxWidth="MaxWidth.Medium" />
<MudSnackbarProvider />

<Router AppAssembly="@typeof(MauiApp).Assembly" AdditionalAssemblies="new [] { typeof(Constants).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code {
    MudTheme currentTheme = new MudTheme();

    protected override void OnInitialized()
    {
        Application.Current.RequestedThemeChanged += OnRequestedThemeChanged;

        if (Application.Current.RequestedTheme == OSAppTheme.Dark)
        {
            currentTheme = darkTheme;
        }
    }

    void OnRequestedThemeChanged(object sender, AppThemeChangedEventArgs e)
    {
        if (e.RequestedTheme == OSAppTheme.Dark)
        {
            currentTheme = darkTheme;
        }
        else if (e.RequestedTheme == OSAppTheme.Light)
        {
            currentTheme = lightTheme;
        }

        StateHasChanged();
    }

    MudTheme lightTheme = new MudTheme();

    MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };
}