@using BlazorApp.ProductCategories
@using Client.ProductCategories
@implements IDisposable
@inject IProductCategoryService ProductCategoryService
@inject NavigationManager NavigationManager

@if (categoryTreeNodes is not null)
{
    <CascadingValue Name="Path" Value="path">
    <ul id="myUL">
        @*<li>
        <div class="row">
        <div class="col">
        <a href="/categories" class="text-decoration-none text-reset @(path == string.Empty ? "active" : null)">
        All products
        </a>
        </div>
        </div>
        </li>*@

        @foreach (var node in categoryTreeNodes)
            {
                <CategoryTreeNodeView @key="node.Id" Node="node" OnClick="OnClick" />
            }
        </ul>
    </CascadingValue>
}

@code
{
    [PersistentState]
    public string? path { get; set; }

    [PersistentState]
    public ProductCategoryTreeRootDto? categoryTree { get; set; }

    public IEnumerable<ProductCategoryTreeNodeDto>? categoryTreeNodes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        path = new Uri(NavigationManager.Uri).LocalPath[1..];
        path = path.Substring(path.IndexOf("/") + 1);

        categoryTree ??= await ProductCategoryService.GetProductCategoryTree(path);

        categoryTreeNodes = categoryTree.Categories;

        NavigationManager.LocationChanged += OnLocationChanged;
    }

    [Parameter] public EventCallback<ProductCategoryTreeNodeDto> OnClick { get; set; } = default!;

    private void OnLocationChanged(object? sender, LocationChangedEventArgs eventArgs)
    {
        path = new Uri(NavigationManager.Uri).LocalPath[1..];
        path = path.Substring(path.IndexOf("/") + 1);
    }

    void IDisposable.Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}