body {
    font-family: 'Montserrat';
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url('fonts/montserrat-latin-300-7c3daf12b706645b5d3710f863a4da04.woff2');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2');
}


@font-face {
    font-family: 'Merriweather';
    src: url('fonts/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2');
}

.search-box .mud-input-slot 
{
    padding: 12px !important;
    font-size: 12pt !important;
}