<div class="input-group mb-2 mr-sm-2">
    <button class="btn btn-outline-secondary" @onclick="async () => await SetValue(Value - 1)">-</button>
    <input type="number" min="@MinValue" max="@MaxValue" class="form-control" style="width: 50px; border: 1px solid; border-radius: 0;" value="@Value" @onchange="async (e) => await SetValue(int.Parse(e.Value.ToString()))" />
    <button class="btn btn-outline-secondary" @onclick="async () => await SetValue(Value + 1)">+</button>
</div>

@code {
    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public int MinValue { get; set; } = 1;

    [Parameter]
    public int MaxValue { get; set; } = 50;

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    private async Task SetValue(int value)
    {
        if (value >= MinValue && value <= MaxValue)
        {
            Value = value;
            await ValueChanged.InvokeAsync(value);

            StateHasChanged();
        }
    }
}