@inherits LayoutComponentBase

<header class="main">
    <NavMenu />
</header>

<main role="main" class="container">
    @Body
</main>

<footer class="pt-3 px-4 my-5 mx-auto container text-center border-top">
    <small class="text-muted">© @DateTime.Now.Year Joe's Place - All rights reserved</small>
</footer>