@inject IJSRuntime JSRuntime

<div class="d-flex justify-content-between">
    <a class="btn btn-primary" href="@PageRoutes.Checkout">Check out & Pay</a>
    <a class="btn btn-secondary" href="@PageRoutes.Basket">Manage basket</a>
</div>

@code 
{
    IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Cart/CartOffCanvas.razor.js");
        await module.InvokeVoidAsync("init");
    }
}