.bottom {
    width: 100%;
    /*
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;*/
    padding: 10px;
    z-index: 999;
    /*
    background-color: white;
    border-top: solid #ececec 1px;*/
}