img {
    object-fit: contain;
}

a {
    display: inline-block;
    height: 60px;
    width: 60px;
}

img {
    height: 60px;
    width: 60px;
}

.col-logo {
    width: 100px;
}

@media(max-width: 602px) 
{
    .col-logo {
        width: 100px;
    }
    
    a {
        height: 30px;
        width: 30px;
        margin-right: 20px !important;
        margin-top: 12px !important;
    }

    img {
        height: 30px;
        width: 30px;
    }
}